.topRow{
    margin: 50px;
    padding-top: 50px;
    text-align: center;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.secondRow{
    padding: 35px 0px;
}
.thirdRow{
    text-align: center;
}