.topRow{
    height: 25%;
    align-content: center;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.secondRow{
    padding: 35px 0px;
}
.thirdRow{
    text-align: center;
    margin: 20px;
}
h3{
    padding: 0px 30px;
    font-size: 20px;
    font-weight: 700;
}
h2{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 700;
}
.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: #00c0f9;
}
.contentt{
    height: 75%;
    background: #e1e1e1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 30px;
    color: #000;
    font-weight: 500;
}
.main{
    margin: 20px;
    ion-input{
        background: #fff;
        border-radius: 5px;
        margin: 5px 0px;
        color: #000;
        --padding-start: 10px;
    }
}
ion-button{
    height: 40px;
    button{
        border-radius: 5px;
    }
}
ion-footer{
    background: #ffffff;
    color: #000;
    height: 40px;
    ion-row{
        align-content: center;
        text-align: center;
        height: 100%;
        .bold{
            font-weight: 700;
        }
    }
}