<ion-header>
  <ion-toolbar>
    <ion-title>{{ arr.name }}</ion-title>
    <ion-icon name="close-outline" slot="end" style="zoom: 3;" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide *ngIf="isLoading">
      <ion-skeleton-text animated style="width: 100%; height:150px;"></ion-skeleton-text>
    </ion-slide>
    <div *ngIf="!isLoading">
      <ion-slide *ngFor="let img of imgArr">
        <img src="{{ sanitizeImg(img.image) }}"/>
      </ion-slide>
    </div>
  </ion-slides>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            {{ arr.name }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>
            {{ capitalize(arr.desa + ", " + arr.kecamatan) }} 
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          <ion-label >
            {{ arr.ticket == "0" ? "Gratis" : arr.ticket }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
          <ion-label >
            {{ arr.start }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap" >
          {{ arr.desc }}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="accessibility-outline" slot="start"></ion-icon>
          <ion-label >
            {{ arr.disabilities == "1" ? "" : "Tidak " }}Ramah Disabilitas
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="wifi-outline" slot="start"></ion-icon>
          <ion-label >
            Wifi{{ arr.wifi == "1" ? " " : " Tidak " }}Tersedia
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label >
            Parkir{{ arr.parkir == "1" ? " " : " Tidak " }}Tersedia
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>  
  <ion-row *ngIf="arr.video">
    <ion-col size="12">
      <iframe
      width="100%"
      height="315"
      [src]="getId(arr.video)"
      frameborder="0"
      allowfullscreen
    ></iframe>
      <!-- <iframe
      width="100%"
      height="315"
      [src]="getId('https://www.youtube.com/watch?v=qqBTjQcMeUQ')"
      frameborder="0"
      allowfullscreen
    ></iframe> -->
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="maps()" expand="block">
        <a href="{{ arr.mapUrl }}" style="color: white;">Buka di Maps</a>
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-footer>
