<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Tempat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll=“true”>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col>
      <ion-searchbar placeholder="Cari disini" enterKeyHint="Cari" inputmode="text" (search)="search($event.target.value)"></ion-searchbar>
    </ion-col>
  </ion-row>
  <div *ngIf="!isLoading">
    <ion-card *ngFor="let x of arr" class="data">
      <img src="{{ sanitizeImg(x.image) }}" (click)="openDetail(x)"/>
      <ion-card-header>
        <ion-card-title>{{ x.name }}</ion-card-title>
        <ion-card-subtitle> {{ capitalize(x.desa + ", " + x.kecamatan) }} </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div *ngIf="isLoading">
    <ion-card *ngFor="let x of [0,1,2,3]" class="data">
      <ion-skeleton-text animated style="width: 100%;height: 200px;"></ion-skeleton-text>
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Mengambil data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
