<ion-header>
  <ion-toolbar>
    <ion-title>Bookmark</ion-title>
    <ion-icon name="close-outline" slot="end" style="zoom: 3;" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let x of arr">
    <ion-item lines="none">
      <img src="{{ sanitizeImg(x.image) }}" (click)="openDetail(x)"/>
      <ion-label (click)="openDetail(x)"> {{ x.name }} </ion-label>
      <ion-icon name="trash-outline" slot="end" (click)="remove(x.id)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
