<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dolan Salatiga
      <!-- <p>Pengunjung</p> -->
    </ion-title>
    <div slot="end" class="headIcon">
      <ion-icon name="bookmark-outline" slot="end" (click)="openBookmark()" ></ion-icon>
      <!-- <ion-icon name="person-circle-outline" (click)="openProfile()"></ion-icon> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-row>
    <ion-col>
      <ion-searchbar placeholder="Apa yang anda cari?"></ion-searchbar>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col size="12">
      <!-- <ion-title size="large">
        Headline
      </ion-title> -->
      <ion-slides [options]="headlineOpts" *ngIf="!isLoading" #sliderHeadline (ionSlidesDidLoad)="start()">
        <ion-slide *ngFor="let h of headline">
          <ion-card class="headline">
            <img src="{{ apiUrl + 'img/headline/' + h.image }}"/>
            <ion-card-header>
              <ion-card-title> {{ h.title }} </ion-card-title>
              <ion-card-subtitle> {{ h.subtitle }} </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <div *ngIf="isLoading" class="headlineLoading">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-title size="large">Kategori</ion-title>
    <ion-col size="12">
      <ion-row style="justify-content: center;text-align: center;margin-top: 10px;">
        <ion-col size="4" *ngFor="let cat of categories; index as i" (click)="showAll()">
          <ion-icon name="location-outline" style="zoom: 2;" *ngIf="i == 0"></ion-icon>
          <ion-icon name="fast-food-outline" style="zoom: 2;" *ngIf="i == 1"></ion-icon>
          <ion-icon name="bed-outline" style="zoom: 2;" *ngIf="i == 2"></ion-icon>
          <ion-icon name="bed-outline" style="zoom: 2;" *ngIf="i != 2 && i != 1 && i != 0"></ion-icon>
          <p style="margin: 0px;">{{ cat.name }}</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="arrow-forward-outline" style="zoom: 2;"></ion-icon>
          <p style="margin: 0px;">Lainnya</p>
        </ion-col>
      </ion-row>
      <!-- <ion-slides mode="md" pager="false" slidesPerView="1.3" [options]="slideOpts" #sliderHeadline>
        <ion-slide class="slideKategori" *ngFor="let z of listKategori">
          <ion-card (click)="openCategory(z.name)">
            <ion-card-header>
              <ion-icon name="{{z.icon}}"></ion-icon>
              <ion-card-title>{{ z.name }}</ion-card-title>
              <ion-card-subtitle>{{ z.desc }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-title size="large">
      Rekomendasi
      <p class="showAll" (click)="showAll()">Lihat Semua</p>
    </ion-title>
    <ion-col size="12">
      <ion-slides [options]="tempatOpts" *ngIf="!isLoading">
        <ion-slide *ngFor="let t of tempat" class="rekomendasi" (click)="openDetail(t)">
          <ion-card class="headline">
            <img src="{{ apiUrl + 'img/tempat/' + t.image }}"/>
            <ion-card-header>
              <ion-card-title> {{ t.name }} </ion-card-title>
              <ion-card-subtitle> {{ capitalize(t.desa + ", " + t.kecamatan) }} </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <div *ngIf="isLoading" class="headlineLoading">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <!-- <ion-slides mode="md" pager="md" scrollbar="md">
        <ion-slide *ngFor="let x of listWisata" class="rekomendasi" (click)="openDetail(x)">
          <ion-card class="headline">
            <img [src]="x.img" alt="">
            <ion-card-header>
              <ion-card-title> {{ x.name }} </ion-card-title>
              <ion-card-subtitle> {{x.alamat}} </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides> -->
    </ion-col>
  </ion-row>
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
